.account-settings-container {
  backface-visibility: hidden;
  padding: 0;

  .row{
    margin: 0;
    padding: 0; 
  }

  .account-settings {
    min-width: unset;
    padding: 0;
    margin: auto; 
    

    @media (min-width: $LG-screen) {
      margin-left: 44px; 
    }

    @media (min-width: 1313px) {
      min-width: 660px;
    }
  }

  .mzp-c-field-control--error{
    border: 2px solid #c50042;
  }

  
}

.settings-readonly {
  .card {
    padding: 12px;
    justify-content: start;

    @media (min-width: $MD-screen) {
      padding: 24px; 
    }

    .content-box {
      font-family: "Inter";
      font-style: normal;
      &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: $color-marketing-gray-99;
        margin-bottom: 12px;
      }

      &__content {
        display: flex;
        justify-content: space-between;
        align-items: start;
      }

      .content-description {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $color-helper-gray;

        @media (min-width: $MD-screen) {
         font-size: 16px;
        }
      }

      .password-dots {
        color: $color-marketing-gray-50;
      }

      .edit-btn {
        border: none;
        background-color: transparent;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    hr {
      margin: 24px 0;
      border: 1px solid $color-marketing-gray-30;
    }
  }
}

.settings-wrapper {
  .btn-group {
    display: flex;
    justify-content: space-between;
    width: 285px;
    float: right; 
    margin-top: 24px; 

    .card-button {
      width: auto;
      padding: 0; 
    }
  }
}
