.account-settings-container {
  backface-visibility: hidden;
  padding: 0;

  .row {
    margin: 0;
    padding: 0;
  }

  .account-settings {
    min-width: unset;
    padding: 0;
    margin: auto;

    @media (min-width: $LG-screen) {
      margin-left: 44px;
    }

    @media (min-width: 1313px) {
      min-width: 660px;
    }
  }

  .mzp-c-field-control--error {
    border: 2px solid #c50042;
  }
}

.settings-readonly {
  .card {
    padding: 12px;
    justify-content: start;

    @media (min-width: $MD-screen) {
      padding: 24px;
    }

    .content-box {
      font-family: "Inter";
      font-style: normal;
      &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: $color-marketing-gray-99;
        margin-bottom: 12px;
      }

      &__content {
        display: flex;
        justify-content: space-between;
        align-items: start;

        &--google {
          @extend %card-border;
          align-items: center;
          padding: 12px;

          @media (max-width: $SM-screen) {
            flex-direction: column;
           }
        }
      }

      &__description {
        @extend %content-body-MD;
        color: $color-helper-gray;

        &--google {
          display: flex;
          align-items: center;
          flex-direction: row;
          @media (max-width: $SM-screen) {
            margin-bottom: 10px;
           }
         

          .info {
            @extend %content-body-XS;
            max-width: 276px;
            color: $color-marketing-gray-70;
            margin-left: 8px;
            @media (max-width: $MD-screen) {
              max-width: unset;
             }
          }
        }
      }

      .password-dots {
        color: $color-marketing-gray-50;
      }

      .edit-btn {
        border: none;
        background-color: transparent;
        text-decoration: underline;
        cursor: pointer;
        @media (max-width: $MD-screen) {
         font-size: 14px; 
        }
      }

      &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #000000;
        text-decoration: underline;
     
        svg {
          margin-left: 6px;
        }

        @media (max-width: $MD-screen) {
          font-size: 14px; 
          svg{
            width: 100%;
          }
         }

         @media (max-width: $SM-screen) { 
          svg{
            width: unset;
          }
         }
      }
    }

    hr {
      margin: 24px 0;
      border: 1px solid $color-marketing-gray-30;
    }
  }
}

.settings-wrapper {
  .btn-group {
    display: flex;
    justify-content: space-between;
    width: 272px;
    float: right;
    margin-top: 24px;
    &--password {
      width: auto;
      .cancel {
        margin-right: 8px;
      }
    }

    &--delete {
      width: auto;
      float: left;
      .cancel {
        margin-right: 12px;
      }
    }

    .card-button {
      width: auto;
      padding: 8px 21.82px;
    }
  }
}
