.account-settings-container {
  backface-visibility: hidden;
  hr {
    border-top: 1px dashed #000000;
    margin: 22px 0;
    margin-bottom: 2rem;
  }

  .card-container {
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;

    .card-body {
      width: 400px;
      justify-self: flex-start;
      .card-description {
        margin: 0 !important;
      }

      .field-set-settings {
        margin: 0 !important;
      }

      button {
        margin: 0 !important;
      }
    }
  }
}

//read only container
.settings-readonly {
  &--first {
    margin-bottom: 40px;
  }

  &--leave {
    margin-top: 45px;
    text-align: center;
  }

  .readonly-title {
    margin-bottom: 23px;
    font-size: 24px;
    font-family: "Zilla Slab", Inter, X-LocaleSpecific, sans-serif;
  }
}

.read-only-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 660px;
  height: 60px;
  background-color: $color-white;
  padding: 20px;
  box-shadow: $box-shadow-lg;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;

  header {
    text-transform: uppercase;
    opacity: 0.6;
    padding-bottom: 5px;
    font-family: Inter, X-LocaleSpecific, sans-serif;
  }

  .twoFA {
    font-style: italic;
  }

  .card-body__content {
    font-weight: 700;
    color: #000;
  }

  .read-only-card--right {
    cursor: pointer;
    .read-only__arrow {
      &:hover {
        transform: translateX(6px);
        transition: ease-in;
      }
    }
  }
}
.settings-wrapper {
  .btn-group {
    display: flex;
    justify-content: space-between;
    width: 285px;

    .card-button {
      width: auto;
    }

    &--two-factor {
      width: 262px;
    }
  }

  .two-factor-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 595px;
    margin-bottom: 40px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid #e7e5e2;
    box-sizing: border-box;
    border-radius: 4px;

    .two-factor__icon {
      align-self: center;
      padding: 24px;
    }

    .two-factor__steps {
      font-size: 12px;
      line-height: 12px;
      color: #393473;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
    }

    .two-factor__headline {
      font-size: 38px;
      line-height: 105%;
      color: #271948;
      margin-bottom: 20px;
    }
    .two-factor__form {
      display: flex;
      align-items: stretch;
      width: 100%;
    }

    .two-factor__subheadline {
      font-size: 24px;
      line-height: 28px;
      color: #2b2156;
      margin: 12px 0px;
    }
    .two-factor__text {
      font-size: 18px;
      line-height: 28px;
      color: #5e5e72;
      margin: 12px 0px;

      &--small {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }
    }

    .two-factor__actions {
      align-items: flex-end;
      align-self: flex-end;
    }
  }

  .active .twoFA {
    background-color: $color-dark-gray-60;
    border-color: $color-dark-gray-60;
  }
}
