/* form styles start */
.input-wrapper {
    display: flex;
  }
  
  input {
    width: 100%;
    height: 50px;
  }
  
  .label-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .mzp-c-field-label {
    font-weight: 600;
    font-size: 12px;
    color: #818282;
  }
  
  form img {
    margin: 2px 0 0 -35px;
    cursor: pointer;
  }
  
  .error-msg-active,
  .info-msg-active {
    text-align: left;
    font-size: 12px;
    color: gray;
    padding: 0;
    position: absolute;
    left: 0;
    top: 87px;
  }
  
  .error-msg-active {
    position: inherit;
    color: red;
    padding-top: 5px;
    top: 0px;
  }
  
  .valid {
    color: var(--color-green-70) !important;
  }
  
  .hide-error-msg {
    display: none;
  }
  
  /* button styles */
  .button-wrapper {
    width: 244px;
    margin: auto;
  }
  
  .card-button {
    display: flex;
    margin-top: 15px;
    width: 100%;
    align-items: center;
    padding: 6px 20px !important;
  }
  
  .button-text {
    margin-left: 10px;
    font-size: 16px;
  }
  
  .card-button.signin,
  .card-button.create {
    justify-content: center;
    margin-top: 0;
    height: 50px;
  }
  
  .reset-pw {
    width: 85%;
  }
  
  .body-text-privacy {
    font-size: 12px;
    padding-top: 20px;
  }
  
  .body-text-action {
    font-size: 16px;
    padding-top: 40px;
    color: #000000;
    text-align: center;
  }
  
  .body-text-action button {
    border-color: transparent;
    background: transparent;
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
  }
  
  .body-text-action a {
    font-weight: 700;
  }
  
  /* storybook styles */
  .sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  p {
    margin: auto;
  }
  
  p a {
    color: #000000;
  }
  
  .info-rules {
    list-style: disc;
    font-size: 12px;
    color: gray;
    padding: 10px 0 0 23px;
    text-align: left;
    margin: 0;
  }
  