# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  # The Node.js orb contains a set of prepackaged CircleCI configuration you can utilize
  # Orbs reduce the amount of configuration required for common tasks.
  # See the orb documentation here: https://circleci.com/developer/orbs/orb/circleci/node
  node: circleci/node@4.7.0

jobs:
  # Below is the definition of your job to build and test your app, you can rename and customize it as you want.
  build-and-test:
    # These next lines define a Docker executor: https://circleci.com/docs/2.0/executor-types/
    # You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # A list of available CircleCI Docker Convenience Images are available here: https://circleci.com/developer/images/image/cimg/node
    docker:
      - image: cimg/openjdk:16.0.2-node
    # Then run your tests!
    # CircleCI will report the results back to your VCS provider.
    steps:
      # Checkout the code as the first step.
      - checkout
      - run:
          name: Configure git for ci-build
          command: |
            git config user.email "ci-build@rally-web-platform"
            git config user.name "ci-build"
      - run:
          name: Checkout deploy branch and rebase onto master
          command: git checkout deploy && git rebase master
      # Next, the node orb's install-packages step will install the dependencies from a package.json.
      # The orb install-packages step will also automatically cache them for faster future runs.
      - node/install-packages
      - run:
          name: Run lint
          command: npm run lint:functions # TODO - fix the other linters https://github.com/mozilla-rally/rally-web-platform/issues/112
      - run:
          name: Run build
          command: npm run build
      - persist_to_workspace:
          root: .
          paths:
            - .
      - run:
          name: Install Firefox, and dependencies for official Google Chrome package
          command: sudo apt update && sudo apt install firefox default-jre fonts-liberation libgbm1 xdg-utils
      - run:
          name: Download and install official Google Chrome package
          command: wget 'https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb' && sudo dpkg -i google-chrome-stable_current_amd64.deb
      - run:
          name: Run tests
          command: npm run test:integration
      - store_artifacts:
          path: ./screenshots

  # This pushes our deployable assets to a branch, for SRE to use in deploying to stage and prod.
  deploy-branch-update:
    docker:
      - image: cimg/node:15.1
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Set up ssh known_hosts # https://circleci.com/docs/2.0/gh-bb-integration/
          command: |
            mkdir -p ~/.ssh
            echo 'github.com ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==
            ' >> ~/.ssh/known_hosts
      - run:
          name: Add website build output to git
          command: |
            git checkout functions/package-lock.json
            git add -f functions/ build static/
      - add_ssh_keys:
          fingerprints:
            - "ab:41:e3:9b:de:0b:ed:6d:fc:d1:58:c0:9e:a9:e6:dd"
      - run:
          name: Commit build artifacts to deploy branch
          command: git diff-index --quiet HEAD || git commit -m "adding build output to deploy branch" functions/ build/ static/
      - run:
          name: Push deploy branch to origin
          command: git push origin deploy
  # This deploys directly to our dev site at https://rally-web-spike.web.app
  dev-site-deploy:
    docker:
      - image: cimg/node:15.1
    steps:
      - checkout
      - run:
          name: Check out the deploy branch.
          command: git checkout deploy && git pull
      - run:
          name: Create Service Account key JSON
          command: echo $GSA_KEY > "$HOME"/gcloud.json
      - run:
          name: Install Firebase Tools
          command: npm install --save-dev firebase-tools
      - run:
          name: Firebase Deploy
          command: GOOGLE_APPLICATION_CREDENTIALS="$HOME"/gcloud.json ./node_modules/.bin/firebase deploy
workflows:
  # Below is the definition of your workflow.
  # Inside the workflow, you provide the jobs you want to run, e.g this workflow runs the build-and-test job above.
  # CircleCI will run this workflow on every commit.
  # For more details on extending your workflow, see the configuration docs: https://circleci.com/docs/2.0/configuration-reference/#workflows
  build:
    jobs:
      - build-and-test
      # For running simple node tests, you could optionally use the node/test job from the orb to replicate and replace the job above in fewer lines.
      # - node/test
      - deploy-branch-update:
          requires:
            - build-and-test
          filters:
            branches:
              only: master

      - dev-site-deploy:
          requires:
            - deploy-branch-update
          filters:
            branches:
              only: master
