html {
  background-color: $bg-default; 
  color: $c-default;
  height: 100%; 
  overflow: visible; 
  scroll-behavior: smooth; 
}

main {
  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  h4 {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 2em;
  }

  h3,
  h4 {
    font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
  }

  hr {
    border-top: 1px dashed $color-black;
    margin-bottom: 2rem;
  }

  .section-header {
    margin-bottom: 12px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-ink-50;
  margin: 0;
}

p,
ul,
ol {
  color: $color-marketing-gray-70;
}
