.md-container {
  max-width: 688px;
  margin: 0 auto;
  padding: 4.8rem 10%;
}

.md-container-signin {
  max-width: 688px;
  margin: 0 auto;
  padding: 8.8rem 2.4rem;

  @media (max-width: $SM-screen) {
    padding: 4.8rem 2.4rem;
  }
}
