.mzp-c-button,
a.mzp-c-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-size: 1rem;
  -webkit-transition: background-color 100ms, box-shadow 100ms, color 100ms;
  transition: background-color 100ms, box-shadow 100ms, color 100ms;
  border-radius: 4px;
  border: 2px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, X-LocaleSpecific, sans-serif;
  font-weight: bold;
  line-height: 1.5;
  padding: 6px 24px;
  text-decoration: none !important;
  /* stylelint-disable-line declaration-no-important */
}
.mzp-c-button:focus,
a.mzp-c-button:focus {
  border-color: #008aea;
  box-shadow: 0 0 0 2px rgba(0, 144, 237, 0.5);
  color: #ffffff;
  outline: none;
}
.mzp-c-button::-moz-focus-inner,
a.mzp-c-button::-moz-focus-inner {
  border: 0;
}
.mzp-c-button:hover,
a.mzp-c-button:hover {
  box-shadow: none;
}
.mzp-c-button:disabled,
a.mzp-c-button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.mzp-c-button.mzp-t-sm {
  font-size: 12px;
  font-size: 0.75rem;
  border-radius: 2px;
  padding: 1px 16px;
}

.mzp-c-button.mzp-t-small,
.mzp-c-button.mzp-t-md {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 4px 24px;
}

.mzp-c-button.mzp-t-lg {
  font-size: 16px;
  font-size: 1rem;
  padding: 6px 24px;
}

.mzp-c-button.mzp-t-xl {
  font-size: 16px;
  font-size: 1rem;
  padding: 10px 24px;
}

.mzp-c-button,
a.mzp-c-button {
  background-color: #000000;
  border: 2px solid #000000;
  color: #ffffff;
}
.mzp-c-button:focus,
a.mzp-c-button:focus {
  border-color: #008aea;
  box-shadow: 0 0 0 2px rgba(0, 144, 237, 0.5);
}
.mzp-c-button:hover,
a.mzp-c-button:hover {
  background-color: #ededf0;
  border-color: #000000;
  box-shadow: none;
  color: #000000;
}
.mzp-c-button:active,
a.mzp-c-button:active {
  background-color: #ededf0;
  border-color: #5e5e72;
  color: #000000;
}
.mzp-c-button.mzp-t-dark,
a.mzp-c-button.mzp-t-dark {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}
.mzp-c-button.mzp-t-dark:focus,
a.mzp-c-button.mzp-t-dark:focus {
  border-color: #008aea;
  box-shadow: 0 0 0 2px #80c8f6;
}
.mzp-c-button.mzp-t-dark:hover,
a.mzp-c-button.mzp-t-dark:hover {
  background-color: #2b2a33;
  border-color: #ffffff;
  box-shadow: none;
  color: #ffffff;
}
.mzp-c-button.mzp-t-dark:active,
a.mzp-c-button.mzp-t-dark:active {
  background-color: #2b2a33;
  border-color: #bfbfc9;
  color: #ffffff;
}

.mzp-c-button.mzp-t-secondary,
a.mzp-c-button.mzp-t-secondary {
  background-color: transparent;
  border-color: #000000;
  color: #000000;
}
.mzp-c-button.mzp-t-secondary:focus,
a.mzp-c-button.mzp-t-secondary:focus {
  border-color: #008aea;
  box-shadow: 0 0 0 2px rgba(0, 144, 237, 0.5);
}
.mzp-c-button.mzp-t-secondary:hover,
a.mzp-c-button.mzp-t-secondary:hover {
  background-color: #ededf0;
  border-color: #000000;
  box-shadow: none;
  color: #000000;
}
.mzp-c-button.mzp-t-secondary:active,
a.mzp-c-button.mzp-t-secondary:active {
  background-color: #ededf0;
  border-color: #5e5e72;
  color: #000000;
}
.mzp-c-button.mzp-t-secondary.mzp-t-dark,
a.mzp-c-button.mzp-t-secondary.mzp-t-dark {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.mzp-c-button.mzp-t-secondary.mzp-t-dark:focus,
a.mzp-c-button.mzp-t-secondary.mzp-t-dark:focus {
  border-color: #008aea;
  box-shadow: 0 0 0 2px #80c8f6;
}
.mzp-c-button.mzp-t-secondary.mzp-t-dark:hover,
a.mzp-c-button.mzp-t-secondary.mzp-t-dark:hover {
  background-color: #2b2a33;
  border-color: #ffffff;
  box-shadow: none;
  color: #ffffff;
}
.mzp-c-button.mzp-t-secondary.mzp-t-dark:active,
a.mzp-c-button.mzp-t-secondary.mzp-t-dark:active {
  background-color: #2b2a33;
  border-color: #bfbfc9;
  color: #ffffff;
}

.mzp-c-button.mzp-t-product,
a.mzp-c-button.mzp-t-product {
  background-color: #0060df;
  border-color: transparent;
  color: #ffffff;
}
.mzp-c-button.mzp-t-product:focus,
a.mzp-c-button.mzp-t-product:focus {
  border-color: #008aea;
  box-shadow: 0 0 0 2px rgba(0, 144, 237, 0.5);
}
.mzp-c-button.mzp-t-product:hover,
a.mzp-c-button.mzp-t-product:hover {
  background-color: #0250bb;
  border-color: transparent;
  box-shadow: none;
  color: #ffffff;
}
.mzp-c-button.mzp-t-product:active,
a.mzp-c-button.mzp-t-product:active {
  background-color: #073072;
  border-color: transparent;
  color: #ffffff;
}
.mzp-c-button.mzp-t-product.mzp-t-secondary,
a.mzp-c-button.mzp-t-product.mzp-t-secondary {
  background-color: transparent;
  border-color: #0060df;
  color: #0060df;
}
.mzp-c-button.mzp-t-product.mzp-t-secondary:focus,
a.mzp-c-button.mzp-t-product.mzp-t-secondary:focus {
  border-color: #008aea;
  box-shadow: 0 0 0 2px rgba(0, 144, 237, 0.5);
}
.mzp-c-button.mzp-t-product.mzp-t-secondary:hover,
a.mzp-c-button.mzp-t-product.mzp-t-secondary:hover {
  background-color: #0250bb;
  border-color: transparent;
  box-shadow: none;
  color: #ffffff;
}
.mzp-c-button.mzp-t-product.mzp-t-secondary:active,
a.mzp-c-button.mzp-t-product.mzp-t-secondary:active {
  background-color: #073072;
  border-color: transparent;
  color: #ffffff;
}
.mzp-c-button.mzp-t-product.mzp-t-secondary.mzp-t-dark,
a.mzp-c-button.mzp-t-product.mzp-t-secondary.mzp-t-dark {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: transparent;
  color: #ffffff;
}
.mzp-c-button.mzp-t-product.mzp-t-secondary.mzp-t-dark:focus,
a.mzp-c-button.mzp-t-product.mzp-t-secondary.mzp-t-dark:focus {
  border-color: #008aea;
  box-shadow: 0 0 0 2px rgba(0, 144, 237, 0.5);
}
.mzp-c-button.mzp-t-product.mzp-t-secondary.mzp-t-dark:hover,
a.mzp-c-button.mzp-t-product.mzp-t-secondary.mzp-t-dark:hover {
  background-color: #0250bb;
  border-color: transparent;
  box-shadow: none;
  color: #ffffff;
}
.mzp-c-button.mzp-t-product.mzp-t-secondary.mzp-t-dark:active,
a.mzp-c-button.mzp-t-product.mzp-t-secondary.mzp-t-dark:active {
  background-color: #073072;
  border-color: transparent;
  color: #ffffff;
}

.mzp-c-button.mzp-t-neutral,
a.mzp-c-button.mzp-t-neutral {
  background-color: transparent;
  border-color: #cdcdd4;
  color: #5e5e72;
}
.mzp-c-button.mzp-t-neutral:focus,
a.mzp-c-button.mzp-t-neutral:focus {
  border-color: #008aea;
}
.mzp-c-button.mzp-t-neutral:hover,
a.mzp-c-button.mzp-t-neutral:hover {
  background-color: #ededf0;
  border-color: #b1b1bc;
  color: #5e5e72;
}
.mzp-c-button.mzp-t-neutral:active,
a.mzp-c-button.mzp-t-neutral:active {
  background-color: #ededf0;
  border-color: #9595a2;
  color: #5e5e72;
}
.mzp-c-button.mzp-t-neutral.mzp-t-dark,
a.mzp-c-button.mzp-t-neutral.mzp-t-dark {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.6);
  color: #ffffff;
}
.mzp-c-button.mzp-t-neutral.mzp-t-dark:focus,
a.mzp-c-button.mzp-t-neutral.mzp-t-dark:focus {
  border-color: #008aea;
}
.mzp-c-button.mzp-t-neutral.mzp-t-dark:hover,
a.mzp-c-button.mzp-t-neutral.mzp-t-dark:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.6);
  color: #ffffff;
}
.mzp-c-button.mzp-t-neutral.mzp-t-dark:active,
a.mzp-c-button.mzp-t-neutral.mzp-t-dark:active {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.4);
  color: #ffffff;
}

.mzp-c-button-download-container {
  text-align: center;
  margin-bottom: 24px;
  display: inline-block;
}

.mzp-c-button-download-privacy-link {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5;
  display: block;
  margin-top: 16px;
}
.mzp-c-button-download-privacy-link a:link,
.mzp-c-button-download-privacy-link a:visited {
  color: inherit;
  text-decoration: none;
}
.mzp-c-button-download-privacy-link a:hover,
.mzp-c-button-download-privacy-link a:active,
.mzp-c-button-download-privacy-link a:focus {
  text-decoration: underline;
}

form,
fieldset,
legend {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
optgroup,
textarea {
  font-family: Inter, X-LocaleSpecific, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  line-height: 1.25;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

textarea {
  overflow: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

fieldset {
  margin-bottom: 24px;
  min-width: 0;
  width: 100%;
}

legend {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: "Zilla Slab", Inter, X-LocaleSpecific, sans-serif;
  font-weight: bold;
  margin-bottom: 24px;
}

label {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 8px;
}

[type=checkbox],
[type=radio] {
  border-radius: 4px;
}

[type=radio] {
  border-radius: 100%;
}

textarea,
input[list],
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #9595a2;
  line-height: 1.25;
  margin: 0 0 24px;
  padding: 8px;
}
textarea::placeholder,
input[list]::placeholder,
input[type=date]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=search]::placeholder,
input[type=tel]::placeholder,
input[type=text]::placeholder,
input[type=time]::placeholder,
input[type=url]::placeholder {
  color: #5e5e72;
}
textarea:hover,
input[list]:hover,
input[type=date]:hover,
input[type=email]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=search]:hover,
input[type=tel]:hover,
input[type=text]:hover,
input[type=time]:hover,
input[type=url]:hover {
  border-color: #0250bb;
}
textarea:focus,
input[list]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus {
  outline: none;
  border-color: #0060df;
  box-shadow: 0 0 0 2px rgba(0, 144, 237, 0.5);
}
.mzp-t-dark textarea:focus,
.mzp-t-dark input[list]:focus,
.mzp-t-dark input[type=date]:focus,
.mzp-t-dark input[type=email]:focus,
.mzp-t-dark input[type=number]:focus,
.mzp-t-dark input[type=password]:focus,
.mzp-t-dark input[type=search]:focus,
.mzp-t-dark input[type=tel]:focus,
.mzp-t-dark input[type=text]:focus,
.mzp-t-dark input[type=time]:focus,
.mzp-t-dark input[type=url]:focus {
  box-shadow: 0 0 0 2px #80c8f6;
}
.mzp-is-error textarea,
.mzp-is-error input[list],
.mzp-is-error input[type=date],
.mzp-is-error input[type=email],
.mzp-is-error input[type=number],
.mzp-is-error input[type=password],
.mzp-is-error input[type=search],
.mzp-is-error input[type=tel],
.mzp-is-error input[type=text],
.mzp-is-error input[type=time],
.mzp-is-error input[type=url] {
  border-color: #D70022;
  box-shadow: none;
}
.mzp-is-error textarea:hover,
.mzp-is-error input[list]:hover,
.mzp-is-error input[type=date]:hover,
.mzp-is-error input[type=email]:hover,
.mzp-is-error input[type=number]:hover,
.mzp-is-error input[type=password]:hover,
.mzp-is-error input[type=search]:hover,
.mzp-is-error input[type=tel]:hover,
.mzp-is-error input[type=text]:hover,
.mzp-is-error input[type=time]:hover,
.mzp-is-error input[type=url]:hover {
  border-color: #810220;
}
.mzp-is-error textarea:focus,
.mzp-is-error input[list]:focus,
.mzp-is-error input[type=date]:focus,
.mzp-is-error input[type=email]:focus,
.mzp-is-error input[type=number]:focus,
.mzp-is-error input[type=password]:focus,
.mzp-is-error input[type=search]:focus,
.mzp-is-error input[type=tel]:focus,
.mzp-is-error input[type=text]:focus,
.mzp-is-error input[type=time]:focus,
.mzp-is-error input[type=url]:focus {
  border-color: #D70022;
  box-shadow: 0 0 0 2px rgba(255, 79, 94, 0.5);
}
textarea:disabled, textarea[aria-disabled=true],
input[list]:disabled,
input[list][aria-disabled=true],
input[type=date]:disabled,
input[type=date][aria-disabled=true],
input[type=email]:disabled,
input[type=email][aria-disabled=true],
input[type=number]:disabled,
input[type=number][aria-disabled=true],
input[type=password]:disabled,
input[type=password][aria-disabled=true],
input[type=search]:disabled,
input[type=search][aria-disabled=true],
input[type=tel]:disabled,
input[type=tel][aria-disabled=true],
input[type=text]:disabled,
input[type=text][aria-disabled=true],
input[type=time]:disabled,
input[type=time][aria-disabled=true],
input[type=url]:disabled,
input[type=url][aria-disabled=true] {
  background: #f9f9fa;
  border-color: #cdcdd4;
  color: #5e5e72;
}
textarea:disabled:focus, textarea[aria-disabled=true]:focus,
input[list]:disabled:focus,
input[list][aria-disabled=true]:focus,
input[type=date]:disabled:focus,
input[type=date][aria-disabled=true]:focus,
input[type=email]:disabled:focus,
input[type=email][aria-disabled=true]:focus,
input[type=number]:disabled:focus,
input[type=number][aria-disabled=true]:focus,
input[type=password]:disabled:focus,
input[type=password][aria-disabled=true]:focus,
input[type=search]:disabled:focus,
input[type=search][aria-disabled=true]:focus,
input[type=tel]:disabled:focus,
input[type=tel][aria-disabled=true]:focus,
input[type=text]:disabled:focus,
input[type=text][aria-disabled=true]:focus,
input[type=time]:disabled:focus,
input[type=time][aria-disabled=true]:focus,
input[type=url]:disabled:focus,
input[type=url][aria-disabled=true]:focus {
  border-color: #42425a;
}

textarea,
input[type=email],
input[list],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url] {
  min-width: 256px;
  max-width: 100%;
}

textarea[cols],
input[size] {
  min-width: 0;
}

input[size="2"] {
  max-width: calc(2.5ch + 16px);
}

input[size="3"] {
  max-width: calc(3.5ch + 16px);
}

input[size="4"] {
  max-width: calc(4.5ch + 16px);
}

input[size="5"] {
  max-width: calc(5.5ch + 16px);
}

input[type=search] {
  background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(3.000000, 3.000000)' stroke='%239595a3' stroke-width='2'%3E%3Ccircle cx='7' cy='7' r='7'%3E%3C/circle%3E%3Cpath d='M12,12 L18,18' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left 8px top 50%;
  padding: 8px 8px 8px calc(1.5em + 16px);
}
input[type=search]:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(3.000000, 3.000000)' stroke='%230250bb' stroke-width='2'%3E%3Ccircle cx='7' cy='7' r='7'%3E%3C/circle%3E%3Cpath d='M12,12 L18,18' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
input[type=search]:focus {
  background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(3.000000, 3.000000)' stroke='%230060df' stroke-width='2'%3E%3Ccircle cx='7' cy='7' r='7'%3E%3C/circle%3E%3Cpath d='M12,12 L18,18' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
[dir=rtl] input[type=search] {
  background-position: right 8px top 50%;
  padding: 8px calc(1.5em + 16px) 8px 8px;
}

input[type=color],
input[type=file] {
  background: #ffffff;
  border-radius: 4px;
  border: 2px solid #9595a2;
  line-height: 1.25;
  margin: 0 0 24px;
}
input[type=color]:hover,
input[type=file]:hover {
  border-color: #0250bb;
}
input[type=color]:focus,
input[type=file]:focus {
  border-color: #0060df;
  box-shadow: 0 0 0 2px rgba(0, 144, 237, 0.5);
  outline: none;
}
.mzp-is-error input[type=color],
.mzp-is-error input[type=file] {
  border-color: #D70022;
  box-shadow: none;
}
.mzp-is-error input[type=color]:hover,
.mzp-is-error input[type=file]:hover {
  border-color: #810220;
}
.mzp-is-error input[type=color]:focus,
.mzp-is-error input[type=file]:focus {
  border-color: #D70022;
  box-shadow: 0 0 0 2px rgba(255, 79, 94, 0.5);
}
input[type=color]:disabled, input[type=color][aria-disabled=true],
input[type=file]:disabled,
input[type=file][aria-disabled=true] {
  background: #cdcdd4;
  border-color: #cdcdd4;
  color: #5e5e72;
}
input[type=color]:disabled:focus, input[type=color][aria-disabled=true]:focus,
input[type=file]:disabled:focus,
input[type=file][aria-disabled=true]:focus {
  border-color: #42425a;
}

input[type=file] {
  padding: 8px;
}

textarea {
  height: auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #9595a2;
  line-height: 1.25;
  margin: 0 0 24px;
  padding: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline stroke='%239595a3' stroke-width='2' points='5 9 12 16 19 9'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-repeat: no-repeat, repeat;
  background-size: 1.5em auto, 100%;
  display: block;
  font-weight: normal;
  max-width: 100%;
  min-width: 256px;
  text-overflow: ellipsis;
}
select {
  background-position: right 8px top 50%;
  padding: 8px calc(1.5em + 16px) 8px 8px;
}
[dir=rtl] select {
  background-position: left 8px top 50%;
  padding: 8px 8px 8px calc(1.5em + 16px);
}
select[multiple], select[multiple]:hover, select[multiple]:focus {
  background: #ffffff;
  padding: 8px;
}
select::-ms-expand {
  display: none;
}
select:hover {
  border-color: #0250bb;
  background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline stroke='%230250bb' stroke-width='2' points='5 9 12 16 19 9'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
}
select:focus {
  border-color: #0060df;
  background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline stroke='%230060df' stroke-width='2' points='5 9 12 16 19 9'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  box-shadow: 0 0 0 2px rgba(0, 144, 237, 0.5);
  color: #222;
  outline: none;
}
.mzp-t-dark select:focus {
  box-shadow: 0 0 0 2px #80c8f6;
}
.mzp-is-error select {
  border-color: #D70022;
  box-shadow: none;
}
.mzp-is-error select:hover {
  border-color: #810220;
}
.mzp-is-error select:focus {
  border-color: #D70022;
  box-shadow: 0 0 0 2px rgba(255, 79, 94, 0.5);
}
select:disabled, select[aria-disabled=true] {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #f9f9fa 0%, #f9f9fa 100%);
  border-color: #cdcdd4;
  color: #5e5e72;
}
select:disabled:hover, select[aria-disabled=true]:hover {
  border-color: #cdcdd4;
}
select:disabled:focus, select[aria-disabled=true]:focus {
  border-color: #42425a;
}
select option {
  font-weight: normal;
}

fieldset.mzp-u-inline {
  margin-bottom: 0;
}

.mzp-u-inline legend {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 8px;
}

label.mzp-u-inline {
  display: inline;
}
label.mzp-u-inline {
  padding: 0 8px 0 0;
}
[dir=rtl] label.mzp-u-inline {
  padding: 0 0 0 8px;
}

.mzp-c-fieldnote {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  display: block;
  font-weight: normal;
  margin-bottom: 0;
}
.mzp-is-error .mzp-c-fieldnote {
  color: #D70022;
}
.mzp-c-button + .mzp-c-fieldnote {
  margin-top: -8px;
}

.mzp-c-form-errors {
  background-color: #D70022;
  border-radius: 4px;
  color: #ffffff;
  padding: 8px;
  margin-bottom: 32px;
}
.mzp-c-form-errors a:link,
.mzp-c-form-errors a:visited {
  color: #ffffff;
}
.mzp-c-form-errors a:link:hover, .mzp-c-form-errors a:link:focus, .mzp-c-form-errors a:link:active,
.mzp-c-form-errors a:visited:hover,
.mzp-c-form-errors a:visited:focus,
.mzp-c-form-errors a:visited:active {
  color: #ffffff;
}
.mzp-c-form-header + .mzp-c-form-errors {
  margin-top: 32px;
}
.mzp-c-form-errors :last-child {
  margin-bottom: 0;
}
.mzp-c-form-errors li {
  margin-bottom: 8px;
}

.mzp-is-error input[type=checkbox],
.mzp-is-error input[type=radio] {
  box-shadow: 0 0 0 2px rgba(255, 79, 94, 0.5);
}

.mzp-c-field {
  margin: 0;
  max-width: 100%;
  padding-bottom: 24px;
}
.mzp-c-field button {
  margin-bottom: 0;
}
.mzp-c-field textarea,
.mzp-c-field select,
.mzp-c-field input[list],
.mzp-c-field input[type=color],
.mzp-c-field input[type=date],
.mzp-c-field input[type=email],
.mzp-c-field input[type=file],
.mzp-c-field input[type=number],
.mzp-c-field input[type=password],
.mzp-c-field input[type=search],
.mzp-c-field input[type=tel],
.mzp-c-field input[type=text],
.mzp-c-field input[type=time],
.mzp-c-field input[type=url] {
  margin-bottom: 0;
}

.mzp-c-field-label {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 8px;
}

legend.mzp-c-field-label {
  float: left;
  width: 100%;
}

.mzp-l-stretch .mzp-c-field-control {
  width: 100%;
  max-width: 100%;
}

.mzp-c-field-info {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  display: block;
  font-weight: normal;
  margin-bottom: 0;
  margin: 0;
}
.mzp-c-field-control + .mzp-c-field-info {
  padding-top: 16px;
}
.mzp-c-field-msg + .mzp-c-field-info {
  padding-top: 4px;
}

.mzp-c-choices {
  margin-bottom: 0;
  padding-bottom: 16px;
}

.mzp-c-choice {
  box-sizing: border-box;
  clear: left;
  margin-bottom: 0;
  margin-top: 0.15em;
  min-height: 1.375rem;
  padding-bottom: 24px;
  position: relative;
}
.mzp-c-choices .mzp-c-choice {
  padding-bottom: 8px;
}
.mzp-c-choices.mzp-l-choices-inline .mzp-c-choice {
  display: inline-block;
  padding-right: 16px;
  vertical-align: top;
}

.mzp-c-choice-label {
  margin-bottom: 0;
  padding-top: 3px;
  padding-bottom: 0;
  vertical-align: top;
}
.mzp-c-choice-label {
  padding-left: 1.875rem;
}
[dir=rtl] .mzp-c-choice-label {
  padding-left: 0;
  padding-right: 1.875rem;
}
.mzp-c-choices .mzp-c-choice-label {
  font-weight: normal;
}
.mzp-c-choice-label.mzp-t-sm {
  font-weight: normal;
}

.mzp-c-choice-control[type=checkbox], .mzp-c-choice-control[type=radio] {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 1;
}
.mzp-c-choice-control[type=checkbox], .mzp-c-choice-control[type=radio] {
  left: 0;
}
[dir=rtl] .mzp-c-choice-control[type=checkbox], [dir=rtl] .mzp-c-choice-control[type=radio] {
  left: auto;
  right: 0;
}
@media screen {
  .mzp-c-choice-control[type=checkbox], .mzp-c-choice-control[type=radio] {
    height: 1.375rem;
    opacity: 0;
    width: 1.375rem;
  }
  .mzp-c-choice-control[type=checkbox] + label::before, .mzp-c-choice-control[type=radio] + label::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 2px;
    border: 2px solid #9595a2;
    content: "";
    cursor: pointer;
    display: block;
    height: 1.375rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.375rem;
  }
  .mzp-c-choice-control[type=checkbox] + label::before, .mzp-c-choice-control[type=radio] + label::before {
    left: 0;
  }
  [dir=rtl] .mzp-c-choice-control[type=checkbox] + label::before, [dir=rtl] .mzp-c-choice-control[type=radio] + label::before {
    left: auto;
    right: 0;
  }
  .mzp-c-choice-control[type=radio] + label::before {
    border-radius: 100%;
  }
  .mzp-c-choice-control[type=checkbox]:checked + label::before {
    background-color: #0060df;
    border-color: #0060df;
  }
  .mzp-c-choice-control[type=checkbox]:checked + label::after {
    border-bottom: 0.1875rem solid #ffffff;
    border-right: 0.1875rem solid #ffffff;
    content: "";
    display: block;
    height: 0.75rem;
    position: absolute;
    top: 0.19rem;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    width: 0.35rem;
  }
  .mzp-c-choice-control[type=checkbox]:checked + label::after {
    left: 0.03rem;
    right: auto;
  }
  [dir=rtl] .mzp-c-choice-control[type=checkbox]:checked + label::after {
    left: auto;
    right: 0.83rem;
  }
  .mzp-c-choice-control[type=radio]:checked + label::before {
    background-color: #0060df;
    border-color: #0060df;
    box-shadow: inset 0 0 0 0.25em #ffffff;
  }
  .mzp-c-choice-control[type=checkbox]:hover + label::before, .mzp-c-choice-control[type=checkbox] + label:hover::before, .mzp-c-choice-control[type=radio]:hover + label::before, .mzp-c-choice-control[type=radio] + label:hover::before {
    border-color: #0250bb;
  }
  .mzp-c-choice-control[type=checkbox]:focus + label::before, .mzp-c-choice-control[type=radio]:focus + label::before {
    border-color: #0250bb;
    box-shadow: 0 0 0 2px rgba(0, 144, 237, 0.5);
  }
  .mzp-c-choice-control[type=radio]:checked:focus + label::before {
    border-color: #0250bb;
    box-shadow: inset 0 0 0 0.25em #ffffff, 0 0 0 2px rgba(0, 144, 237, 0.5);
  }
  .mzp-is-error .mzp-c-choice-control[type=checkbox] + label::before, .mzp-is-error .mzp-c-choice-control[type=radio] + label::before {
    border-color: #D70022;
  }
  .mzp-is-error .mzp-c-choice-control[type=checkbox]:checked + label::before, .mzp-is-error .mzp-c-choice-control[type=radio]:checked + label::before {
    background-color: #D70022;
    border-color: #D70022;
  }
  .mzp-is-error .mzp-c-choice-control[type=checkbox]:hover + label::before, .mzp-is-error .mzp-c-choice-control[type=checkbox] + label:hover::before, .mzp-is-error .mzp-c-choice-control[type=radio]:hover + label::before, .mzp-is-error .mzp-c-choice-control[type=radio] + label:hover::before {
    border-color: #810220;
  }
  .mzp-is-error .mzp-c-choice-control[type=checkbox]:focus + label::before, .mzp-is-error .mzp-c-choice-control[type=radio]:focus + label::before {
    border-color: #810220;
    box-shadow: 0 0 0 2px rgba(255, 79, 94, 0.5);
  }
  .mzp-is-error .mzp-c-choice-control[type=radio]:checked:focus + label::before {
    box-shadow: inset 0 0 0 0.25em #ffffff, 0 0 0 2px rgba(255, 79, 94, 0.5);
  }
  .mzp-c-choice-control[type=checkbox][disabled] + label::before, .mzp-c-choice-control[type=radio][disabled] + label::before {
    border-color: #cdcdd4;
  }
  .mzp-c-choice-control[type=checkbox][disabled]:checked + label::before {
    background-color: #f9f9fa;
    border-color: #cdcdd4;
  }
  .mzp-c-choice-control[type=checkbox][disabled]:checked + label::after {
    border-bottom-color: #cdcdd4;
    border-right-color: #cdcdd4;
  }
  .mzp-c-choice-control[type=radio][disabled]:checked + label::before {
    background-color: #cdcdd4;
    border-color: #cdcdd4;
  }
  .mzp-c-choice-control[type=checkbox][disabled]:hover + label::before, .mzp-c-choice-control[type=checkbox][disabled] + label:hover::before, .mzp-c-choice-control[type=radio][disabled]:hover + label::before, .mzp-c-choice-control[type=radio][disabled] + label:hover::before {
    border-color: #cdcdd4;
  }
  .mzp-c-choice-control[type=checkbox][disabled]:focus + label::before, .mzp-c-choice-control[type=radio][disabled]:focus + label::before {
    border-color: #cdcdd4;
    box-shadow: 0 0 0 2px rgba(255, 79, 94, 0.5);
  }
  .mzp-c-choice-control[type=radio][disabled]:checked:focus + label::before {
    box-shadow: inset 0 0 0 0.25em #ffffff, 0 0 0 2px rgba(0, 144, 237, 0.5);
  }
}
@media screen and (-ms-high-contrast: active) {
  .mzp-c-choice-control[type=checkbox], .mzp-c-choice-control[type=radio] {
    height: auto !important;
    /* stylelint-disable-line declaration-no-important */
    width: auto !important;
    /* stylelint-disable-line declaration-no-important */
    opacity: 1 !important;
    /* stylelint-disable-line declaration-no-important */
  }
  .mzp-c-choice-control[type=checkbox] + label::before, .mzp-c-choice-control[type=checkbox] + label::after, .mzp-c-choice-control[type=radio] + label::before {
    display: none !important;
    /* stylelint-disable-line declaration-no-important */
  }
}

.mzp-c-choice-info {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  display: block;
  font-weight: normal;
  margin-bottom: 0;
}
.mzp-c-choices + .mzp-c-choice-info {
  margin-top: -8px;
}
.mzp-c-choice-label + .mzp-c-choice-info {
  padding-top: 16px;
}
.mzp-c-choice-label + .mzp-c-choice-info {
  padding-left: 1.875rem;
}
[dir=rtl] .mzp-c-choice-label + .mzp-c-choice-info {
  padding-left: 0;
  padding-right: 1.875rem;
}
.mzp-c-choice + .mzp-c-choice-info {
  margin-top: -8px;
}
.mzp-c-choice + .mzp-c-choice-info {
  padding-left: 1.875rem;
}
[dir=rtl] .mzp-c-choice + .mzp-c-choice-info {
  padding-left: 0;
  padding-right: 1.875rem;
}
.mzp-c-choice-msg + .mzp-c-choice-info {
  padding-top: 4px;
}

/* $$$$- shared component variables $$$$$ */
/* study card variables */
.signin {
  display: grid;
  justify-content: center;
  grid-template-columns: [gutter1-start] minmax(min-content, 58px) [gutter1-end center-start] repeat(10, minmax(min-content, 58px)) [center-end gutter2-start] minmax(min-content, 58px) [gutter2-end];
  grid-template-rows: 95px 1fr 80px;
}

.header__nav-toggle-icon::before, .header__nav-toggle-icon::after, .header__nav-toggle-icon {
  border-radius: 10px;
  background-color: #20123a;
  height: 4px;
  transition: 0.2s;
  transition-property: background-color, transform;
  width: 100%;
}

.header .nav-mobile .dropdown-list__content, .header__dropdown .dropdown-list .list-item,
.header .nav-primary .dropdown-list .list-item {
  display: flex;
  align-items: center;
  float: none;
  color: black;
  text-decoration: none;
  text-align: left;
}

.header .nav-mobile .dropdown-list--quit, .header__dropdown .dropdown-list .list-item--quit,
.header .nav-primary .dropdown-list .list-item--quit {
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: initial;
}

html {
  background-color: #fff;
  box-sizing: border-box;
  color: #000;
  height: 100%;
  overflow: visible;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  line-height: 1.6;
  height: 100%;
  font-size: 1rem;
}

header {
  flex-shrink: 0;
}

footer {
  flex-shrink: 0;
}

main h2 {
  font-size: 2.375rem;
}
main h3 {
  font-size: 1.25rem;
  margin-bottom: 2em;
  margin-top: 2em;
}
main h4 {
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 2em;
}
main h3,
main h4 {
  font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
main hr {
  border-top: 1px dashed #000000;
  margin: 22px 0;
  margin-bottom: 2rem;
}
main .section-header {
  margin-bottom: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #291d4f;
  margin: 0;
}

p,
ul,
ol {
  color: #5e5e72;
}

.radius-sm {
  border-radius: 4px;
}

.body-copy {
  color: #5e5e72;
}

.text-head-sm {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1%;
  font-weight: 700;
}

.text-body-xs {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #7a7a8b;
}

.text-body-sm {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
}

.text-body-md {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.text-body-lg {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
}

.text-display-xxs {
  font-size: 1rem;
  line-height: 1.1;
}

.text-display-xs {
  font-size: 1.5rem;
  font-weight: 700;
}

.text-display-sm {
  font-size: 2rem;
  font-weight: 700;
}

.text-display-md {
  font-size: 2.5rem;
  font-weight: 700;
}

.text-display-lg {
  font-size: 3rem;
  font-weight: 700;
}

.text-display-xl {
  font-size: 3.5rem;
  font-weight: 700;
}

.text-display-xxl {
  font-size: 4rem;
  font-weight: 700;
}

.section-content {
  max-width: 700px;
}

.header {
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 0rem;
}
@media (min-width: 688px) {
  .header {
    padding: 0.5rem 0rem;
  }
}
@media (min-width: 982px) {
  .header {
    padding: 0.3rem 2.5rem;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  float: left;
  width: 100%;
  max-width: 8.75rem;
  margin: 24px 48px 24px 0;
}
@media (min-width: 688px) {
  .header__logo {
    width: 100%;
    max-width: unset;
  }
}
.header__logo-link {
  margin-top: 8px;
  display: block;
  margin: 0 auto;
}
.header__logo-link img {
  display: block;
  height: 1.875rem;
}
.header__mobile-menu {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  left: 0;
  max-height: 375px;
  overflow: hidden;
  position: absolute;
  visibility: visible;
  width: 100%;
  z-index: 900;
}
.header__mobile-menu[aria-hidden=true] {
  transition: max-height 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s linear 0.4s;
  max-height: 0 !important;
}
@media (min-width: 982px) {
  .header__mobile-menu[aria-hidden=true] {
    max-height: unset;
  }
}
.header__mobile-menu[aria-hidden=false] {
  transition: max-height 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s linear 0s;
  visibility: visible;
  box-shadow: 0 8px 12px 1px rgba(29, 17, 51, 0.04), 0 20px 16px 2px rgba(9, 32, 77, 0.12), 0 5px 10px -3px rgba(29, 17, 51, 0.12);
}
@media (min-width: 982px) {
  .header__mobile-menu {
    visibility: hidden;
  }
}
.header__nav-toggle {
  display: block;
  background-image: none;
  border: 0;
  cursor: pointer;
  flex-shrink: 0;
  font-weight: 400;
  height: 1.5rem;
  letter-spacing: 0;
  line-height: normal;
  margin: 0 0 0 auto;
  padding: 0.5rem;
  text-align: left;
  text-shadow: none;
  text-transform: none;
  width: 1.875rem;
}
.header__nav-toggle[aria-expanded=true] {
  background-color: transparent;
}
.header__nav-toggle-icon {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}
.header__nav-toggle-icon::before, .header__nav-toggle-icon::after {
  left: 0;
  content: "";
  position: absolute;
}
.header__nav-toggle-icon::before {
  top: -10px;
}
.header__nav-toggle-icon::after {
  top: 10px;
}
.header__nav-toggle[aria-expanded=true] .header__nav-toggle-icon::before {
  transform: translateY(10px) rotate(45deg);
}
.header__nav-toggle[aria-expanded=true] .header__nav-toggle-icon::after {
  transform: translateY(-10px) rotate(-45deg);
}
@media (min-width: 982px) {
  .header__nav-toggle {
    display: none;
  }
}
.header__nav-toggle[aria-expanded=true] .header__nav-toggle {
  background-color: transparent;
}
.header__nav-toggle[aria-expanded=true] .header__nav-toggle-icon {
  background-color: transparent;
}
.header__dropdown,
.header .nav-primary {
  display: none;
  float: right;
  cursor: pointer;
  overflow: hidden;
}
@media (min-width: 982px) {
  .header__dropdown,
.header .nav-primary {
    display: block;
  }
}
.header__dropdown .dropdown__user-icon,
.header .nav-primary .dropdown__user-icon {
  background-color: white;
  width: 42px;
  height: 42px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  transform: scale(0.75);
}
.header__dropdown .dropdown-list,
.header .nav-primary .dropdown-list {
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  display: none;
  min-width: 240px;
  position: absolute;
  right: 75px;
  z-index: 1;
  background-color: white;
  margin-top: 2px;
}
.header__dropdown .dropdown-list .list-item,
.header .nav-primary .dropdown-list .list-item {
  padding: 12px 16px;
}
.header__dropdown .dropdown-list .list-item__text,
.header .nav-primary .dropdown-list .list-item__text {
  padding-left: 10px;
}
.header__dropdown .dropdown-list .list-item img,
.header .nav-primary .dropdown-list .list-item img {
  opacity: 0.6;
}
.header__dropdown .dropdown-list .list-item:hover,
.header .nav-primary .dropdown-list .list-item:hover {
  background-color: #f0f0f4;
}
.header__dropdown .dropdown-list .list-item--info,
.header .nav-primary .dropdown-list .list-item--info {
  display: block;
  padding: 0 16px;
  text-decoration: none;
  text-align: left;
}
.header__dropdown .dropdown-list .list-item--info .text-bold,
.header .nav-primary .dropdown-list .list-item--info .text-bold {
  font-weight: 600;
  color: #000;
}
.header__dropdown .dropdown-list hr,
.header .nav-primary .dropdown-list hr {
  border-color: #e25920;
  border-top-width: 2px;
  margin: 0.8rem 0;
}
.header__dropdown .dropdown-list::after,
.header .nav-primary .dropdown-list::after {
  content: "";
  width: 0;
  height: 0;
  top: -5px;
  right: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
}
.header__dropdown .dropdown-list:hover .dropdown__list,
.header .nav-primary .dropdown-list:hover .dropdown__list {
  display: block;
}
.header .nav-mobile {
  display: block;
  float: unset;
  max-width: 1440px;
  padding: 24px;
}
@media (min-width: 768px) {
  .header .nav-mobile {
    padding: 0 64px;
  }
}
.header .nav-mobile .dropdown-list {
  margin-top: 15px;
}
.header .nav-mobile .dropdown-list .text-bold {
  font-weight: 600;
  color: #000;
}
.header .nav-mobile .dropdown-list__content {
  border-top: 1px solid #e7e5e2;
  font-size: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.header .nav-mobile .dropdown-list__content .list-item__text {
  padding-left: 10px;
}
.header .nav-mobile .dropdown-list__content:hover {
  text-decoration: underline;
}
.header .nav-mobile .dropdown-list--info:hover {
  text-decoration: none;
}
.header .nav-mobile .dropdown-list--quit {
  border-top: 1px solid #e7e5e2;
}

.md-container {
  max-width: 688px;
  margin: 0 auto;
  padding: 2.3rem 10%;
}

.md-container-signin {
  max-width: 688px;
  margin: auto;
  padding: 8.8rem 2.4rem;
}
@media (max-width: 432px) {
  .md-container-signin {
    padding: 2rem 1rem;
  }
}

.btn-content--sm {
  display: flex;
  justify-content: space-between;
  width: 80%;
  text-align: left;
}
@media (max-width: 432px) {
  .btn-content--sm {
    width: 100%;
    justify-content: space-around;
  }
}

.mzp-c-button.mzp-t-md {
  font-size: 14px;
}

.mzp-c-button {
  font-size: 1rem;
}

/* extended button states */
.mzp-c-button.mzp-t-compact {
  padding: 1px 10px;
}

.mzp-c-button.mzp-t-error {
  background-color: #810220;
  border-color: #810220;
  color: #ffffff;
}

.mzp-c-button.mzp-t-error:hover {
  background-color: #440306;
  border-color: #440306;
  color: #ffffff;
}

.mzp-c-button.mzp-t-icon {
  border-radius: 50%;
  width: max-content;
  height: max-content;
  padding: 1em;
  display: grid;
  place-items: center;
}

.mzp-c-button.mzp-t-secondary.mzp-t-text {
  background-color: transparent;
  border-color: transparent;
  color: black;
}

.mzp-c-button.mzp-t-secondary.mzp-t-text:hover {
  background-color: #ededf0;
  border-color: #ededf0;
  color: black;
}

.mzp-t-leave {
  background-color: #ededf0;
  color: #e22850;
  border-color: #ededf0;
}

.mzp-t-leave:hover {
  border-color: #e22850;
  color: white;
  background-color: #e22850;
}

.mzp-t-leave.mzp-t-product {
  background-color: #e22850;
  color: white;
  border-color: #e22850;
}

.mzp-t-leave.mzp-t-product:hover {
  background-color: #c50042;
  border-color: #c50042;
}

.mzp-c-button.mzp-t-product.mzp-t-neutral {
  background-color: #e0e0e6;
  border-color: #e0e0e6;
}

.mzp-c-button.mzp-t-product.mzp-t-neutral:hover {
  color: #23222b;
  background-color: #bfbfc9;
  border-color: #bfbfc9;
}

.card-container {
  margin-bottom: 4rem;
  width: 100%;
  padding: 48px;
}
@media (max-width: 688px) {
  .card-container {
    padding: 25px 0px;
  }
}
@media (max-width: 432px) {
  .card-container {
    height: auto !important;
  }
}
.card-container .title-wrapper {
  display: flex;
  justify-content: center;
}
.card-container .title-wrapper--launch {
  display: flex;
  justify-content: center;
}
.card-container .title-text {
  z-index: 1;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  max-width: 450px;
}
@media (max-width: 432px) {
  .card-container .title-text {
    max-width: 200px;
  }
}
.card-container .card-body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 360px;
  padding: 48px 20px;
}
.card-container .card-body-check {
  padding: 20px;
}
.card-container .card-body .card-button {
  padding: 12px 24px;
}
@media (max-width: 688px) {
  .card-container .card-body .card-button {
    padding: 10px;
  }
}

.call-flow {
  grid-template-columns: max-content max-content auto 0;
}
@media only screen and (max-width: 436px) {
  .call-flow {
    grid-template-columns: auto;
  }
}

.account-settings-container {
  backface-visibility: hidden;
}
.account-settings-container hr {
  border-top: 1px dashed #000000;
  margin: 22px 0;
  margin-bottom: 2rem;
}
.account-settings-container .card-container {
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.account-settings-container .card-container .card-body {
  width: 400px;
  justify-self: flex-start;
}
.account-settings-container .card-container .card-body .card-description {
  margin: 0 !important;
}
.account-settings-container .card-container .card-body .field-set-settings {
  margin: 0 !important;
}
.account-settings-container .card-container .card-body button {
  margin: 0 !important;
}

.settings-readonly--first {
  margin-bottom: 40px;
}
.settings-readonly--leave {
  margin-top: 45px;
  text-align: center;
}
.settings-readonly .readonly-title {
  margin-bottom: 23px;
  font-size: 24px;
  font-family: "Zilla Slab", Inter, X-LocaleSpecific, sans-serif;
}

.read-only-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 660px;
  height: 60px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 24px 38px 3px rgba(29, 17, 51, 0.04), 0 10px 48px 8px rgba(9, 32, 77, 0.12), 0 12px 16px -6px rgba(29, 17, 51, 0.12);
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}
.read-only-card-container header {
  text-transform: uppercase;
  opacity: 0.6;
  padding-bottom: 5px;
  font-family: Inter, X-LocaleSpecific, sans-serif;
}
.read-only-card-container .twoFA {
  font-style: italic;
}
.read-only-card-container .card-body__content {
  font-weight: 700;
  color: #000;
}
.read-only-card-container .read-only-card--right {
  cursor: pointer;
}
.read-only-card-container .read-only-card--right .read-only__arrow:hover {
  transform: translateX(6px);
  transition: ease-in;
}

.settings-wrapper .btn-group {
  display: flex;
  justify-content: space-between;
  width: 285px;
}
.settings-wrapper .btn-group .card-button {
  width: auto;
}
.settings-wrapper .btn-group--two-factor {
  width: 262px;
}
.settings-wrapper .two-factor-content {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 575px;
  margin-bottom: 40px;
}
.settings-wrapper .two-factor-content .two-factor__text {
  width: 400px;
}
.settings-wrapper .active .twoFA {
  background-color: #2b2a33;
  border-color: #2b2a33;
}

.signin__logo {
  grid-column: 4/10;
  text-align: center;
}
.signin__content {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  height: 50rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}
.signin__cards {
  grid-column: 2/12;
}
.signin__cards .spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
  height: 40rem;
}
.signin__cards .path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
.signin__howitworks {
  grid-column: 4/10;
  align-self: center;
  text-align: center;
  margin-top: 40px;
}

.card-container {
  margin: auto;
}
.card-container .card-header h2 {
  font-weight: bold;
  font-size: 2.375rem;
  line-height: 44px;
}
.card-container .card-header .title-highlight {
  display: block;
  background-color: #f9cd34;
  border-radius: 4px;
  position: absolute;
  height: 1.375rem;
  margin-top: 24px;
}
@media (max-width: 432px) {
  .card-container .card-header .title-highlight {
    display: none;
  }
}
.card-container .card-body-content--form {
  padding-top: 48px;
}
.card-container .card-body-content .button-text {
  text-align: center;
  font-size: 1rem;
  opacity: 0.6;
}
@media only screen and (max-width: 360px) {
  .card-container .card-body-content .button-text {
    font-size: 12px;
  }
}
.card-container .card-body-content .form-wrapper {
  display: grid;
  margin-bottom: 0;
}
@media only screen and (min-width: 688px) {
  .card-container .card-body-content .form-wrapper {
    max-width: 360px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    column-gap: 34px;
  }
}
.card-container .card-body-content .form-wrapper form input {
  width: 100%;
  height: 48px;
  font-size: 0.875rem;
  border: 2px solid #9595a2;
}
.card-container .card-body-content .form-wrapper .card-body-info,
.card-container .card-body-content .form-wrapper form,
.card-container .card-body-content .form-wrapper button,
.card-container .card-body-content .form-wrapper .body-text-privacy,
.card-container .card-body-content .form-wrapper .body-text-action {
  grid-column: 1/13;
}
@media only screen and (min-width: 688px) {
  .card-container .card-body-content .form-wrapper .card-body-info,
.card-container .card-body-content .form-wrapper form,
.card-container .card-body-content .form-wrapper button,
.card-container .card-body-content .form-wrapper .body-text-privacy,
.card-container .card-body-content .form-wrapper .body-text-action {
    max-width: 360px;
  }
}
.card-container .card-body-content .input-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card-container .card-body-content .input-wrapper input {
  grid-column: 1/-1;
  grid-row: 1/2;
  z-index: 1;
}
.card-container .card-body-content .input-wrapper img {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
  z-index: 2;
  margin: 10px;
}
.card-container .card-body-content .card-body-info {
  max-width: 368px;
  text-align: center;
}
.card-container .body-text-action {
  padding: 0px 28px;
  font-size: 16px;
  color: #000000;
  text-align: center;
}
.card-container .body-text-action button {
  border-color: transparent;
  background: transparent;
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
}
.card-container .body-text-action a {
  font-weight: 700;
}

.mzp-c-call-out-desc {
  display: none;
}

.mzp-c-call-out {
  backface-visibility: hidden;
  background-color: transparent;
  min-height: calc(100vh - 2.5rem);
  padding: 0;
}
.mzp-c-call-out .mzp-l-content {
  padding-left: 0;
  padding-right: 0;
  /* this is Main + required padding to meet 120px */
  padding-top: 8rem;
}
.mzp-c-call-out .mzp-l-content .mzp-c-call-out-title {
  display: flex;
  justify-content: center;
  animation: moveInLeft 1s ease-out;
  margin-bottom: 1.2rem;
}
.mzp-c-call-out .mzp-l-content .mzp-c-call-out-desc {
  color: #5e5e72;
  font-size: 1.6rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@-webkit-keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
/* form styles start */
.label-wrapper {
  display: flex;
  justify-content: space-between;
}

.mzp-c-field-label {
  font-weight: 600;
  color: #818282;
  font-size: 0.875rem;
}

.error-msg-active,
.info-msg-active {
  text-align: left;
  font-size: 1.2rem;
  color: gray;
  padding: 0;
}

.error-msg-active {
  position: inherit;
  color: red;
  padding-top: 0.5rem;
  top: 0;
}

.valid {
  color: var(--color-green-70) !important;
}

.hide-error-msg {
  display: none;
}

.card-button {
  margin-bottom: 15px;
  width: 100%;
}

.card-button.signin,
.card-button.create {
  margin-top: 0;
  height: 48px;
}

.body-text-privacy {
  font-size: 12px;
  margin: auto;
  text-align: center;
}

/* storybook styles */
.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-in-container p {
  margin: auto;
}
.sign-in-container p a {
  color: #000000;
}

.info-rules {
  list-style: disc;
  font-size: 0.875rem;
  color: gray;
  padding: 10px;
  text-align: left;
  margin: 0;
}

.gafc {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
}

.shortcut-callout {
  font-size: 14px;
  justify-self: end;
  font-style: italic;
  color: #0060df;
}

.call-flow {
  display: grid;
  grid-gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

.cta-wrapper {
  display: flex;
  justify-content: center;
}
.cta-wrapper button {
  margin-left: 20px;
}

story-container {
  backface-visibility: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 40px;
  width: 800px;
  max-width: 800px;
  padding-bottom: 48px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

/*# sourceMappingURL=styles.css.map */
