
body{
  position: relative;
}
.header {
  background-color: var(--color-light-gray-20);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem 7.5rem;
  overflow: hidden;
}

.header-logo-nav {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-left: 1.0625rem;
  padding-right: 1.0625rem;
  z-index: 901;
  float: left;
}

.header-logo-link {
  max-width: 12.75rem;
  width: 100%;
}

.header-logo-link img {
  display: block;
  width: 100%;
  height: 30px;
}

.nav-dropdown {
  float: right;
  width: 60px;
  cursor: pointer;
  overflow: hidden;
}

.nav-dropdown:hover .arrow-down {
  transform: translateY(3px);
}

.dropdown-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-icon {
  background-color: white;
  width: 43px;
  height: 43px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  transform: scale(1);
}

.dropdown-list {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin-top: 5px;
  border-radius: 5px;
}

.dropdown-list::after {
  content: "";
  width: 0;
  height: 0;
  top: -5px;
  left: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
}

.dropdown-list a,
.dropdown-list button {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-list a:hover,
.dropdown-list button:hover {
  background-color: var(--color-light-gray-20);
}

.dropdown-list button {
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
}

.nav-dropdown:hover .dropdown-list {
  display: block;
}
