@mixin toggle-nav {
  border-radius: 10px;
  background-color: $color-ink-80;
  height: 4px;
  transition: 0.2s;
  transition-property: background-color, transform;
  width: 100%;
}

@mixin transform-before {
  transform: translateY(10px) rotate(45deg);
}

@mixin transform-after {
  transform: translateY(-10px) rotate(-45deg);
}


@mixin nav-list-item {
  display: flex;
  align-items: center;
  float: none;
  color: black;
  text-decoration: none;
  text-align: left;
}

@mixin list-item-quit{
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
}
