.card-container {
  margin-bottom: 4rem;
  width: 100%;
  padding: 48px;
  @media (max-width: $MD-screen) {
    padding: 48px 0;
  }

  .title-wrapper {
    display: flex;
    justify-content: center;

    &--launch {
      display: flex;
      justify-content: center;
    }
  }

  .title-text {
    z-index: 1;
    text-align: center;
    display: inline-block;
    font-weight: bold;
  }

  .card-body {
  
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 360px;
      padding: 48px 20px;
    }

    .card-button{
      padding: 12px 24px;
      @media (max-width: $MD-screen) {
        padding: 10px;
      }
    }
  }
}
